body{
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.perfil_photo{
    border: solid 1px #505050;
    border-radius: 50px;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #B125EA;
}

#title, .subtitle, .post_title {
    color: #505050;
} 

.post_title {
    font-sze: 16px;
    font-style: italic;
    margin:0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 2px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;  
}

.post_content{
    text-align: justify;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px;
}